/* container */
.container{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.form-container form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.social-container{
    margin: 10px 0;
}
.social-container a{
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}
.social-container a:hover{
    color: #fff;
    background-color: #000;
}
.form-container span{
    margin-bottom:10px;
}
.form-container input{
    border: none;
    border-bottom: 1px solid #1c1b33;
    padding: 12px 15px;
    margin: 5px 0;
    width: 100%;
    outline: none;
}

button{
    border-radius: 20px;
    border: 1px solid #1c1b33;
    background: #1c1b33;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
    cursor: pointer;
}
button:active{
    transform: scale(0.95);
    background-color: #a6588c;
    border-color: #a6588c;
}
button:focus{
    outline: none;
}
button.ghost{
    background: transparent;
    border-color: #fff;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-out;
}
/* sign in  */
.sign-in-container{
    left: 0;
    width: 50%;
    z-index: 2; 
}
/* sign up  */
.sign-up-container{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
/* overlay-container */
.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.overlay{
    background: #1c1b33;
    background: linear-gradient(to right,#1c1b33,#a6588c) no-repeat 0 0/cover;
    color: #fff;
    height: 100%;
    width: 200%;
    position: relative;
    left: -100%;
    transform: translateX(0);
    transition: transform;
}
.overlay-panel{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 50%;
    padding: 0 40px;
    transition: transform 0.6s ease-in-out;
    transform: translateX(0);
}
.overlay-right{
    right: 0;
    transform: translateX(0);
}
.overlay-left{
    transform: translateX(-20%);
}
/* animation */
/* mover sign in to the right  */
.container.right-panel-active .sign-in-container{
    transform: translateX(100%);
}
/* mover overlay to left  */
.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
/* bring sign up over sign in  */
.container.right-panel-active .sign-up-container{
    opacity: 1;
    z-index: 5;
    transform: translateX(100%);
}
/* move overlay back to right  */
.container.right-panel-active .overlay{
    transform: translateX(50%);
}
.container.right-panel-active .overlay-left{
    transform: translateX(0);
}
.container.right-panel-active .overlay-right{
    transform: translateX(20%);
}

